/* Global styles */
:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #F62D55; /* This is your desired text color */
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Body */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #d1b8b8;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  position: absolute;
  top: 5%;
  left: 15%;
}

/* Credit score question */
.cscoreq {
  position: absolute;
  top: 17%;
  left: 30%;
}

.cscoretextbox {
  position: absolute;
  top: 25%;
  left: 30%;
}

/* Credit score answer */
.cscorea {
  position: absolute;
  top: 28%;
  left: 30%;
}

/* Credit Score Delete */
.cscore-delete-btn {
  position: absolute;
  top: 24%;
  left: 65%;
}

/* save buttton score */
.cscore-btn {
  position: absolute;
  top: 24%;
  left: 53%;
}

/* Button */
button {
  border-radius: 15px;
  border: px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F62D55;
  cursor: pointer;
  transition: border-color 0.25s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    color: #5e768b;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
/* Income question */
.incomeq {
  position: absolute;
  top: 17%;
  left: 30%;
}

/* Income textbox */
.incometextbox {
  position: absolute;
  top: 25%;
  left: 30%;
}

/* income save btn */
.income-btn {
  position: absolute;
  top: 24%;
  left: 53%;
}

/* income delete btn */
.income-delete-btn {
  position: absolute;
  top: 24%;
  left: 65%;
}

/* Income answer */
.incomeAnswer {
  position: absolute;
  top: 28%;
  left: 30%;
}

/* First credit card question */
.ccfirstq {
  position: absolute;
  top: 17%;
  left: 30%;
}

/* First credit card answer, textbox */
.ccfirsta {
  position: absolute;
  top: 24%;
  left: 30%;
}

/* first credit card save button */
.ccfirstbtn {
  position: absolute;
  top: -35%;
  left: 110%;
}

/* first credit card delete button */
.ccfirst-delete-btn {
  position: absolute;
  top: -35%;
  left: 165%;
}

/* First credit card answer */
.ccFirstanswer {
  position: absolute;
  top: 28%;
  left: 30%;
}

/* Fees limit Question */
.feesQ {
  position: absolute;
  top: 17%;
  left: 30%;
}

/* Fees Limit textbox */
.feestextbox {
  position: absolute;
  top: 25%;
  left: 30%;
}

/* Fees Limit Answer */

.feesA {
  position: absolute;
  top: 28%;
  left: 30%;
}

/* Max fees save button */
.maxfees-btn {
  position: absolute;
  top: 24%;
  left: 53%;
}

/* Max fees delete button */
.fees-delete-btn {
  position: absolute;
  top: 24%;
  left: 65%;
}

/* Features Question */
.featuresQ {
  position: absolute;
  top: 17%;
  left: 30%;
}

/* Features options */
.featuresoptions {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 150px;
  height: 25px;
  
}

/* Features Answer */ 
.featuresA {
  position: absolute;
  top: 28%;
  left: 30%;
  
}

/*  features save button */
.features-btn {
  position: absolute;
  top: 24%;
  left: 53%;
}

/*  features delete button */
.features-delete-btn {
  position: absolute;
  top: 24%;
  left: 65%;
}